html, body {
   margin: 0;
  padding: 0;
  background-color: #FFCC6A;
  height:300px;
  font-family: 'Lato', sans-serif;


}

.header {
	background-color: #232673;
	height:80px;
}

.header .container .row h1 {
	font-size: 30px;
	color:#fff;
}
.header .container .row li {
	display:inline-block;
}


.header .container .row a{
	color:#fff;
	border-color:#BC1B2D;
	border:2px solid #BC1B2D;
	padding: 15px 15px 10px 10px;
	margin: 15px 15px;
	font-size: 20px;
	text-decoration: none;
}

.header .container .nav{
	float: right;
}

.header .row{
	background-color: #232673;
}
.header .container .nav a:hover, .nav li.active:hover{
	background-color: #BC1B2D;
	border-radius: 20px;
}
.header .container .nav a:visited{	
	background-color: #BC1B2D;
}

/* nav bar*/

.nav a.active{
	color:#fff;
	border-color:#BC1B2D;
	border:2px solid #BC1B2D;
	padding: 15px 15px 10px 10px;
	margin: 15px 15px;
	font-size: 20px;
	text-decoration: none;
	background-color: #BC1B2D;

}

/* main section */
.jumbotron {
background:url("../img/bigcity.jpeg") center no-repeat;
background-size: cover;
color:#fff;
padding: 0;
min-height: 450px;
}

.jumbotron .btn-default{
	width:150px;
	height:60px;
	font-size: 30px;
	color:#fff;
	background-color: #F0DD4C;
	border:2px solid #000;
	 }


.jumbotron h1{
	margin-top: 100px;
	background-color:rgba(35,38,115,.4) ;
}
.jumbotron p{
	background-color:rgba(35,38,115,.4) ;
}

.supporting{
	text-align: center;
}

#overflow-btn, #overflow-btn2, #overflow-btn3{
	position: absolute;
	top: 150px;
	left:138px;
	opacity: 0;
	z-index: 1;
}



#overflow {
background:rgba(0,0,0);
}


footer{
	height:50px;
	background-color:#A9A1A1;
}

footer a{
		color:#fff;

}

footer li{
	padding:15px 15px 15px 15px;
	display:inline;
}
footer ul{
	margin-top: 15px;
}

